body {
    padding: 0px;
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color:#0f2e85;
}

div.bg{
    margin:50px auto;
    width: 375px;
    height: 667px;
    cursor:pointer;
}

div.header{
    position: absolute;
    width: 375px;
    height: 40px;
    top:0;
    margin: 0 auto;
}

p.score {
    position: absolute;
    right: 10px;
    text-align: center;
    margin:50px auto;
    
    color: #FFF;
    font-size: 3em;
    text-shadow: 1px 1px 3px #000;
}

@media (max-width: 599px) {
    div.bg{
        margin:0 auto;
    }
    p.score {
        margin:0 auto;
    }
}

.content {
    margin: 0 auto;
    width: 375px;
    height: 667px;
    /* margin-top:40px; */
}